
:root {
  --lightgrey: #677897;
}


* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.img {
  width: 50px;
  
}

.roadmap{
  display: flex;
  justify-content: space-around;
}

.section{
  display:flex;
  justify-content: space-around;
}

.featured-schools{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.roadmap-section{
  width: 200px;
  
}

